body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
}

a {
text-decoration: none;
}
.sidebar {
    width: 250px;
    height: 100vh;
    background: #343a40;
    color: white;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}
.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}
.sidebar a:hover {
    background: #495057;
}
.content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
}

.hidden {
    display: none;
}
.select-all-icon {
    cursor: pointer;
}